<!DOCTYPE html>
<html>

<head>
    <title>Exemplo de Criptografia e Descriptografia</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="p-4">
    <div class="container">
        <h2 class="mb-4">Enigma - Criptografia e Descriptografia de Frases</h2>

        <div class="form-group">
            <label for="frase">Digite a frase:</label>
            <input type="text" class="form-control" id="frase">
        </div>

        <div class="mt-3">
            <button class="btn btn-primary mr-2" onclick="criptografar()">Criptografar</button>
            <button class="btn btn-secondary" onclick="descriptografar()">Descriptografar</button>
            <button class="btn btn-success ml-2" onclick="salvarFrase()">Salvar</button>
        </div>

        <div class="mt-3 form-group">
            <label for="resultado">Resultado:</label>
            <textarea class="form-control" id="resultado" rows="4"></textarea>
        </div>

        <div class="mt-5">
            <h4>Frases Salvas:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Frase</th>
                    </tr>
                </thead>
                <tbody id="frases-lista"> 
                    <!-- Os dados serão preenchidos dinamicamente aqui -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function criptografar() {
            var frase = document.getElementById('frase').value;
            var fraseCriptografada = CryptoJS.AES.encrypt(frase, "chave_secreta").toString();
            document.getElementById('resultado').value = fraseCriptografada;
        }

        function descriptografar() {
            var fraseCriptografada = document.getElementById('resultado').value;
            var fraseDescriptografada = CryptoJS.AES.decrypt(fraseCriptografada, "chave_secreta").toString(CryptoJS.enc.Utf8);
            document.getElementById('resultado').value = fraseDescriptografada;
        }

        function salvarFrase() {
            var novaFrase = document.getElementById('resultado').value;
            var tabela = document.getElementById('frases-lista');
            var numeroLinhas = tabela.rows.length;
            var novaLinha = tabela.insertRow(numeroLinhas);
            var celula1 = novaLinha.insertCell(0);
            var celula2 = novaLinha.insertCell(1);
            celula1.innerHTML = numeroLinhas;
            celula2.innerHTML = novaFrase;
        }
    </script>
</body>

</html>

