<!DOCTYPE html>
<html>
<head>
    <title>Frases Criptografadas</title>
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Frases Criptografadas</h1>
        <ul class="list-group">
            <% frasesCriptografadas.forEach(frase => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= frase %>
                    <form method="POST" action="/remover-frase">
                        <input type="hidden" name="frase" value="<%= frase %>">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </li>
            <% }); %>
        </ul>

        <h2 class="mt-4">Inserir Nova Frase Criptografada</h2>
        <form method="POST" action="/inserir-frase">
            <div class="form-group">
                <label for="frase">Frase:</label>
                <input type="text" class="form-control" id="frase" name="frase">
            </div>
            <button type="submit" class="btn btn-primary">Inserir</button>
        </form>
    </div>

    <!-- Adicione os scripts do Bootstrap no final do corpo do documento para melhorar o desempenho -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>



